:root {
  --setna_darkest_purple: #060024;
  --setna_dark_purple: #1e1a34;
  --setna_light_purple: #5233ff;
  --banner_white: #ffffff;
  --banner_height_mobile: 5vh;
  --banner_height_web: 5vh;
  --setna_form_background: #30285a;
}
/* hero */
/* hero */
/* hero */
.hero {
  width: 200vw;
  display: flex;
}
.hero,
.logos,
#plane_animation,
#skunk_image {
  background: var(--banner_white);
  height: var(--banner_height_web);
}

/* hero */
/* hero */
/* hero */

body {
  margin: 0;
  width: 100vw;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background: rgb(128 0 0 / 66%);
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.container h1 {
  color: #ffffff;
}

.section {
  background-color: #ffffff;
  padding: 50px 30px;
  border: 1.5px solid #b2b2b2;
  border-radius: 0.25em;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
  padding: 20px !important;
  border: 1.5px solid #b2b2b2 !important;
  border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
  display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
  width: 100px !important;
  height: 100px !important;
}

button {
  padding: 10px 20px;
  border: 1px solid #b2b2b2;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #008000ad;
  transition: 0.3s background-color;
}

button:hover {
  background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
  text-decoration: none !important;
  color: #1d9bf0;
}

video {
  width: 100% !important;
  border: 1px solid #b2b2b2 !important;
  border-radius: 0.25em;
}

body {
  background-color: rgb(69, 69, 95);
}
